.page {
  position: relative;
  opacity: 1;
  z-index: 900;
  transition: all 0.5s ease-in-out;

  display: flex;
  visibility: visible;

  &__hidden {
    position: absolute;

    visibility: hidden;
    opacity: 0;

    z-index: 800;
  }

  &__prev {
    left: 0;
    transform: translateX(-100%);
  }

  &__next {
    right: 0;
    transform: translateX(100%);
  }
}