@import "../../scss/utils/vars";

.slider {
  position: relative;

  &__pages {
	display: flex;
	justify-content: space-between;

	@media (max-width: $tabletWidth) {
	  justify-content: center;
	}

	width: 100%;
	padding: $commonMargin * 2;
	box-sizing: border-box;

	transform-style: preserve-3d;
  }

  &__item {
    margin-left: $commonMargin;

    &:first-child {
      margin-left: 0;
    }
  }
}
